{% load staticfiles %}{% load cache %}
{% load apostello_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'apostello/includes/head.html' %}
    {% block morehead %}
    {% endblock %}
  </head>
  <body>
    {% block main %}
    {% endblock %}
    <div id="elmContainer"></div>
    <script>
    {% cache 60 elmSettings request.user %}
      var elmSettings = {% elm_settings request.user %};
    {% endcache %}
      var elmMessages = {% elm_messages request %};
    </script>
    {% include 'apostello/includes/js.html' %}
    {% block morejs %}{% endblock %}
  </body>
</html>
