{% load staticfiles %}{% load cache %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'apostello/includes/head.html' %}
		{% block morehead %}
		{% endblock %}
	</head>
	<body>
		<div class="ui top attached inverted violet menu">
			<div class="ui simple dropdown icon item" data-intro="Use this menu for page specific actions, e.g. exporting the responses for a keyword." data-step="2" data-position="right">
				<i class="wrench icon"></i>
				<div class="menu">
					{% block side_bar %} {% endblock %}
				</div>
			</div>
			{% cache 1800 topbar request.user %}
			{% include 'apostello/top_menu.html' %}
			{% endcache %}
		</div>
		<div class="ui hidden divider"></div>
		<div class="ui stackable centered grid container">
			<div class="fourteen wide column">
				<div class="ui stackable grid container">
					<div class="sixteen wide column">
						{% if messages %}
						{% for message in messages %}
						<div class="ui {{ message.tags }} message">
							{{ message }}
						</div>
						{% endfor %}
						{% endif %}
						{% block content %} {% endblock %}
					</div>
				</div>
			</div>
		</div>
		<div class="ui hidden divider"></div>
		</div>
		<script src="{% static 'js/vendor.bundle.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		{% block morejs %}{% endblock %}
	</body>
</html>
