{% extends "apostello/base.html" %}
{% load staticfiles %}
{% block side_bar %}
<div id="elvanto_fetch_button"></div>
<br>

<div id="elvanto_pull_button"></div>
{% endblock %}
{% block content %}
<div class="col-md-7 col-sm-12">
<div class="input-group"> <span class="input-group-addon">Filter</span>
    <input id="filter" type="text" class="form-control" placeholder="Type here...">
</div>
<div id="elvanto_table"></div>
</div>
{%endblock%}
{% block morejs %}
<script src="{%static 'js/tables/elvanto.js'%}"></script>
<script>
ReactDOM.render(
     React.createElement(ElvantoFetchButton, {url:"{%url 'api:fetch_elvanto_groups' %}"}),
     document.getElementById('elvanto_fetch_button')
    );
ReactDOM.render(
     React.createElement(ElvantoPullButton, {url:"{%url 'api:pull_elvanto_groups' %}"}),
     document.getElementById('elvanto_pull_button')
    );
ReactDOM.render(
     React.createElement(ElvantoTable, {url:"{%url 'api:elvanto_groups' %}", pollInterval: 50000}),
     document.getElementById('elvanto_table')
    );
</script>
{% endblock %}
