{% extends "apostello/base.html" %}
{% load bootstrap3 %}
{% block morejs %}
{{form.media}}
<script>
$(document).ready(function() { $("#id_elvanto_groups").select2(); });
</script>
{% endblock %}
{% block content %}
<p>Please choose the elvanto groups you wish to import - you should get an email confirmation on completion.
<p>Note that importing an existing group will overwrite group and update any of its members already in the system.<br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form  %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
             Import
        </button>
    {% endbuttons %}
</form>
{% endblock %}
