{% extends "apostello/base.html" %}
{% load semanticui %}
{% block title %}CSV Import{% endblock %}
{% block content %}
{% if bad_rows %}
<p>The following inputs failed, please re-add them to the input box and correct them. Or manually add them to diagnose the issue.
<div class="ui segment">
  {% for row in bad_rows %}
  <p>{{row.first_name}}, {{row.last_name}}, {{row.number}}
  {% endfor %}
</div>

{% else %}
<p>Here you can import any number of recipients.</p>
<p>Just paste a csv into the box below, there should be no header row and there should be three columns: First Name, Last Name, Number</p>
<p>Upon successful import you should see a message, otherwise a list of failed items will appear.</p>
<p>Try inputting failed items manually to see what went wrong.</p>
{% endif %}
<form class="ui {%if not form.is_valid %}error {% endif %}form" method="post">
    {% csrf_token %}
    {{ form|semanticui }}
    <button class="ui button" type="submit">Import</button>
</form>
{% endblock %}
