{% extends "apostello/base.html" %}
{% load staticfiles %}
{% block content %}

<p>Welcome to apostello.</p>

<p>Please bear in mind that each message you send costs <a href="https://www.twilio.com/sms/pricing">money</a>, so please do not send frivolous messages.</p>

<p>Additionally, try not to send too many messages - do not abuse this system, people do not like being bombarded with messages all day.</p>

<p><a href="{% url 'help' %}">FAQs/Help</a></p>

<br>
<figure><embed type="image/svg+xml" src="/graphs/recent/"/></figure>
{% endblock %}
{% block morejs %}
{% if show_tour %}
  <script src="{% static 'js/tour.js' %}"></script>
{% endif %}
{% endblock %}
