{% extends "apostello/base.html" %}
{% load cache %}
{% block side_bar%}
{% cache 1800 index_side_bar request.user %}
{% with profile=request.user.profile %}
{% if profile.can_see_keywords or request.user.is_staff %}
<a class="item" href="{% url 'keyword' %}">New Keyword</a>
{% endif %}
{% if profile.can_see_contact_names or request.user.is_staff %}
<a class="item" href="{% url 'recipient' %}">New Contact</a>
{% endif %}
{% if profile.can_see_groups or request.user.is_staff %}
<a class="item" href="{% url 'group' %}">New Group</a>
{% endif %}
{% endwith %}
{% endcache %}
{% endblock %}
{% block content %}

<p>Welcome to apostello.</p>

<p>Please bear in mind that each message you send costs <a href="https://www.twilio.com/sms/pricing">money</a>, so please do not send frivolous messages.</p>

<p>Additionally, try not to send too many messages - do not abuse this system, people do not like being bombarded with messages all day.</p>

<p><a href="{% url 'help' %}">FAQs/Help</a></p>

<br>
<figure><embed type="image/svg+xml" src="/graphs/recent/"/></figure>
{% endblock %}
