{% extends "apostello/base.html" %}
{% load semanticui %}
{% load apostello_extras %}
{% block title %}
  {% if not object %}
    New {{identifier}}
  {% else %}
    {{object}}
  {% endif %}
{% endblock %}
{% block fab %}
  {% if keyword %}
    {% fab_keyword_responses keyword %}
    {% fab_keyword_responses_archive keyword %}
  {% endif %}
  {% if object %}
    <div id="toggle_button" postUrl="{{ object.get_api_url }}" redirectUrl="{{ object.get_table_url }}" viewingarchive={{ object.is_archived|yesno:"true,false" }}></div>
  {% else %}
    {% include 'apostello/includes/default_fab.html' %}
  {% endif %}
{% endblock %}
{% block content %}
  {% if intro_text %}
    <p>{{ intro_text }}</p>
  {% endif %}
  <form class="ui {%if not form.is_valid %}error {% endif %}form" method="post">
      {% csrf_token %}
      {{ form|semanticui }}
      <div id="dtBox"></div>
      <button class="ui primary button" type="submit">{{ submit_text }}</button>
  </form>

  {% if sms_history %}
    {% if user.profile.can_see_incoming %}
      <br>
      <h4>Recent Incoming History</h4>
      <div id="react_table" src="{{ object.get_recent_sms_table_url }}" pollInterval="20000"></div>
    {% endif %}
  {% endif %}
  {% if 'group' == identifier %}
    <br>
    <div id="react_members" src="{{ object.get_api_url }}"></div>
  {% endif %}
{% endblock %}
