{% extends "apostello/base.html" %}
{% load staticfiles %}
{% load semanticui %}
{% block side_bar %}
<a class="item" href="{% url 'keyword' keyword.id %}">Edit</a>
<div class="divider"></div>
{%if archive%}
<a class="item" href="{% url 'keyword_responses' keyword.id %}">Replies ({{ keyword.fetch_matches|length }})</a>
{%else%}
<a class="item" href="{% url 'keyword_responses_archive' keyword.id %}">Archived Replies ({{ keyword.num_archived_matches }})</a>
{%endif%}
<div class="divider"></div>
<a class="item" href="{% url 'keyword_csv' keyword.id %}">Export "{{ keyword.keyword }}" responses</a>
{% endblock %}
{% block content %}
<h2>{{keyword}} {%if archive%}(Archived){%endif%}</h2>

<div id="incoming_keyword_table"></div>

{%if form%}
<br>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post" >
    {% csrf_token %}
    {{ form|semanticui }}
    <br>
    <button type="submit" class="ui red button">Archive all!</button>
</form>
{%endif%}
{% endblock %}
{% block morejs %}
<script>
    {% if archive %}
    var _url = "{%url 'api:keyword_sms_archive' keyword.id %}",
        _viewingArchive = true;
    {% else %}
    var _url = "{%url 'api:keyword_sms' keyword.id %}",
        _viewingArchive = false;
    {% endif %}
</script>
<script src="{%static 'js/keyword_resp_table.js'%}"></script>
{% endblock %}
