{% extends "apostello/base.html" %}
{% load staticfiles %}
{% load semanticui %}
{% load apostello_extras %}
{% block title %}{{keyword}}{% endblock %}
{% block fab %}
{% fab_keyword_edit keyword %}
{% if archive %}
  {% fab_keyword_responses keyword %}
{% else %}
  {% fab_keyword_responses_archive keyword %}
{% endif %}
{% fab_keyword_csv keyword %}
{% endblock %}
{% block content %}
<h2>{{keyword}} {%if archive%}(Archived){%endif%}</h2>

<div id="elmContainer" {% if archive %}src="{% url 'api:keyword_sms_archive' keyword.id %}"{% else %}src="{%url 'api:keyword_sms' keyword.id %}"{% endif %}></div>

{%if form%}
<br>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post" >
    {% csrf_token %}
    {{ form|semanticui }}
    <br>
    <button type="submit" class="ui red button">Archive all!</button>
</form>
{%endif%}
{% endblock %}
