{% extends "apostello/base.html" %}
{% load semanticui %}
{% block title %}Send{% endblock %}
{% block content %}
<br>
<p>Send a message to a single person or to an ad-hoc group of people:</p>
<form class="ui {%if not form.is_valid %}error {% endif %}form" method="post" action="/send/adhoc/">
    {% csrf_token %}
    {{ form|semanticui }}
    <div id="dtBox"></div>
    <button type="submit" class="ui primary button" id='#send'>Send ($0.00)</button>
</form>
{% endblock %}
{% block morejs %}
<script>
var sms_cost = {{ TWILIO_SENDING_COST }};
</script>
{% endblock %}
