{% extends "apostello/base.html" %}
{% load staticfiles %}
{% load semanticui %}
{% block content %}
<br>
<p>Send a message to a single person or to an ad-hoc group of people:</p>
<form class="ui {%if not form.is_valid %}error {% endif %}form" method="post" action="send/adhoc/">
    {% csrf_token %}
    {{ form|semanticui }}
    <button type="submit" class="ui primary button" id='#send'>Send ($0)</button>
</form>
{% endblock %}
{% block morejs %}
<script src="{%static 'js/send_adhoc.js'%}"></script>
{% endblock %}
