{% load staticfiles %}{% load cache %}
{% load apostello_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'apostello/includes/head.html' %}
    {% block morehead %}
    {% endblock %}
  </head>
  <body>
    <div class="spinner" id="elmLoader">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
    <div id="elmContainer"></div>
    <script>
    {% cache 60 elmSettings request.user %}
      var elmSettings = {% elm_settings request.user %};
    {% endcache %}
    </script>
    {% include 'apostello/includes/js.html' %}
    {% block morejs %}{% endblock %}
    <noscript>
      <div class="alert alert-warning">
        <p>apostello cannot function without javascript...</p>
      </div>
    </noscript>
  </body>
</html>
