{% with profile=request.user.profile %}
<div class="ui simple dropdown item" data-intro="Use this menu to switch between different pages." data-step="1" data-position="right" id="primary-menu">
  Menu <i class="dropdown icon"></i>
  <div class="ui vertical menu">
    {% if profile.can_see_keywords or request.user.is_staff %}
    <a class="item" href="{% url 'keywords' %}">Keywords</a>
    {% endif %}
    <div class="divider"></div>
    {% if profile.can_send_sms or request.user.is_staff %}
    <a class="item" href="{% url 'send_adhoc' %}">Send to Individuals</a>
    <a class="item" href="{% url 'send_group' %}">Send to a Group</a>
    {% if request.user.is_staff %}
    <a class="item" href="/scheduled/sms/">Scheduled Messages</a>
    {% endif %}
    <div class="divider"></div>
    {% endif %}
    {% if profile.can_see_contact_names or request.user.is_staff %}<a class="item" href="{% url 'recipients' %}">Contacts</a>{% endif %}
    {% if profile.can_see_groups or request.user.is_staff %}<a class="item" href="{% url 'recipient_groups' %}">Groups</a>{% endif %}
    <div class="divider"></div>
    {% if profile.can_see_incoming or request.user.is_staff %}<a class="item" href="{%  url 'incoming' %}">Incoming SMS</a>{% endif %}
    {% if profile.can_see_outgoing or request.user.is_staff %}<a class="item" href="{% url 'outgoing' %}">Outgoing SMS</a>{% endif %}
    <div class="divider"></div>
    {% if request.user.socialaccount_set|length < 1 %}<a class="item" href="/accounts/password/change">Change Password</a>{% endif %}
    <a class="item" href="/accounts/logout/">Logout</a>
    <div class="divider"></div>
    <div class="header">{{ TWILIO_FROM_NUM }}</div>
  </div>
</div>
{% if profile.can_import or request.user.is_staff %}
<div class="ui simple dropdown item" id="tools-menu">
  Tools <i class="dropdown icon"></i>
  <div class="menu">
    {% if request.user.is_staff %}
    <a class="item" href="{% url 'site_config:site' %}">Site Configuration</a>
    <a class="item" href="{% url 'site_config:responses' %}">Default Responses</a>
    <div class="divider"></div>
    <a class="item" href="{% url 'user_profile_table' %}">User Permissions</a>
    <a class="item" href="{% url 'usage_summary' %}">Usage Dashboard</a>
    <a class="item" href="/admin/">Admin</a>
    <a class="item" href="{% url 'api-setup' %}">API Setup</a>
    <div class="divider"></div>
    <a class="item" href="/group/create_all/">Create "all" group</a>
    <div class="divider"></div>
    {% endif %}
    <div class="header">Import</div>
    <a class="item" href="{% url 'import_recipients' %}">CSV</a>
    <a class="item" href="{% url 'elvanto:import' %}">Elvanto</a>
    <div class="divider"></div>
    <a class="item" href="/group/composer/">Compose group</a>
  </div>
</div>
{% endif %}
{% endwith %}
</div>
