{% load staticfiles %}{% load cache %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'apostello/includes/head.html' %}
    {% block morehead %}
    {% endblock %}
  </head>
  <body>
    <div class="ui hidden divider"></div>
    <div class="ui stackable centered relaxed padded grid">
      <div class="four wide column">
        <h3 class="ui header">Contacts</h3>
        <figure><embed type="image/svg+xml" src="/graphs/contacts/"/></figure>
      </div>
      <div class="four wide column">
        <h3 class="ui header">Groups</h3>
        <figure><embed type="image/svg+xml" src="/graphs/groups/"/></figure>
      </div>
      <div class="four wide column">
        <h3 class="ui header">Keywords</h3>
        <figure><embed type="image/svg+xml" src="/graphs/keywords/"/></figure>
      </div>
      <div class="twelve wide column">
        <h3 class="ui header">Recent Message History</h3>
        <figure><embed type="image/svg+xml" src="/graphs/recent/"/></figure>
      </div>
      <div class="four wide column">
        <h3 class="ui header">Messages</h3>
        <figure><embed type="image/svg+xml" src="/graphs/sms/totals/"/></figure>
      </div>
      <div class="eight wide column">
        <h3 class="ui header">Inbound</h3>
        <figure><embed type="image/svg+xml" src="/graphs/sms/in/bycontact/"/></figure>
      </div>
      <div class="eight wide column">
        <h3 class="ui header">Outbound</h3>
        <figure><embed type="image/svg+xml" src="/graphs/sms/out/bycontact/"/></figure>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    </div>
  </body>
</html>
