{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'apostello/includes/head.html' %}
</head>
<body style="background-color: #5c569c">
<div class="container-fluid">
  <br>
  <div class="col-md-10 col-md-offset-1">
  <div id="wall"></div>
</div>
</div>
<script src="{% static 'js/apostello.min.js' %}"></script>
<script src="{% static 'js/curate.js' %}"></script>
{% if keyword %}
<script>
ReactDOM.render(
     React.createElement(CurateContainer,
     {curate: false, keyword:"{{keyword}}", pollInterval: 1000, url: "{%url 'api:live_wall' %}"}),
     document.getElementById('wall')
);
</script>
{% else %}
<script>
ReactDOM.render(
     React.createElement(CurateContainer,
     {curate: false, pollInterval: 1000, url: "{%url 'api:live_wall'%}"}),
     document.getElementById('wall')
);
</script>
{% endif %}
</body>
