{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'apostello/includes/head.html' %}
</head>
<body style="background-color: #5c569c">
<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
  <br>
    <div class="row">
      <div id="content"></div>
    </div>
  </div>
</div>
{% compress js %}
<script src="{% static 'js/curate.js' %}"></script>
{% endcompress %}
{% if keyword %}
<script>
React.render(
     React.createElement(ResponseWall,
     {pollInterval: 500, curating:false, preview:false, url: "{%url 'api:keyword_live_wall' keyword.id %}"}),
     document.getElementById('content')
);
</script>
{% else %}
<script>
React.render(
     React.createElement(ResponseWall,
     {pollInterval: 500, curating:false, url: "{%url 'api:all_live_wall'%}", preview: false}),
     document.getElementById('content')
);
</script>
{% endif %}
</body>
