DJANGO_SETTINGS_MODULE={{ django_settings_file }}
DJANGO_SECRET_KEY={{ django_secret_key }}
ACCOUNT_DEFAULT_HTTP_PROTOCOL={{ account_default_http_protocol }}
DATABASE_NAME={{ db_name }}
DATABASE_USER={{ db_user }}
DATABASE_PASSWORD={{ db_password }}
WHITELISTED_LOGIN_DOMAINS={{ whitelisted_login_domains }}
DJANGO_TIME_ZONE={{ django_time_zone }}
ELVANTO_KEY={{ elvanto_key }}
COUNTRY_CODE={{country_code}}
OPBEAT_ORGANIZATION_ID={{opbeat_organization_id}}
OPBEAT_APP_ID={{opbeat_app_id}}
OPBEAT_SECRET_TOKEN={{opbeat_secret_token}}
OPBEAT_JS_ORG_ID={{opbeat_js_org_id}}
OPBEAT_JS_APP_ID={{opbeat_js_app_id}}
CM_SERVER_KEY={{ cm_server_key }}
CM_SENDER_ID={{ cm_sender_id }}
