DJANGO_SETTINGS_MODULE={{ django_settings_file }}
DJANGO_SECRET_KEY={{ django_secret_key }}
ACCOUNT_DEFAULT_HTTP_PROTOCOL={{ account_default_http_protocol }}
DATABASE_NAME={{ db_name }}
DATABASE_USER={{ db_user }}
DATABASE_PASSWORD={{ db_password }}
TWILIO_ACCOUNT_SID={{ twilio_account_sid }}
TWILIO_AUTH_TOKEN={{ twilio_auth_token }}
TWILIO_FROM_NUM={{ twilio_from_num }}
WHITELISTED_LOGIN_DOMAINS={{ whitelisted_login_domains }}
RABBITMQ_APPLICATION_USER={{ rabbitmq_application_user }}
RABBITMQ_APPLICATION_PASSWORD={{ rabbitmq_application_password }}
RABBITMQ_APPLICATION_VHOST={{ application_name }}
DJANGO_EMAIL_HOST={{ django_email_host }}
DJANGO_EMAIL_HOST_USER={{ django_email_host_user }}
DJANGO_EMAIL_HOST_PASSWORD={{ django_email_host_password }}
DJANGO_FROM_EMAIL={{ django_from_email }}
ELVANTO_KEY={{ elvanto_key }}
SLACK_URL={{ slack_url }}
COUNTRY_CODE={{country_code}}
OPBEAT_ORG_ID={{opbeat_org_id}}
OPBEAT_APP_ID={{opbeat_app_id}}
OPBEAT_SECRET_TOKEN={{opbeat_secret_token}}
