DJANGO_SETTINGS_MODULE={{ django_settings_file }}
DJANGO_SECRET_KEY={{ django_secret_key }}
ACCOUNT_DEFAULT_HTTP_PROTOCOL={{ account_default_http_protocol }}
DATABASE_NAME={{ db_name }}
DATABASE_USER={{ db_user }}
DATABASE_PASSWORD={{ db_password }}
WHITELISTED_LOGIN_DOMAINS={{ whitelisted_login_domains }}
DJANGO_TIME_ZONE={{ django_time_zone }}
ELVANTO_KEY={{ elvanto_key }}
COUNTRY_CODE={{country_code}}
ROLLBAR_ACCESS_TOKEN={{rollbar_access_token}}
ROLLBAR_ACCESS_TOKEN_CLIENT={{rollbar_access_token_client}}
CM_SERVER_KEY={{ cm_server_key }}
CM_SENDER_ID={{ cm_sender_id }}
