upstream wsgi_server {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response (in case the Unicorn master nukes a
  # single worker for timing out).

  server unix:{{ virtualenv_path }}/run/gunicorn.sock fail_timeout=0;
}
{% if setup_lets_encrypt %}
server {
  listen 80 default deferred;
  server_name {{ nginx_server_name }};
  return 301 https://$host$request_uri;
}
{% endif %}
server {
    listen              80;
    {% if setup_lets_encrypt %}
    listen              443 ssl;
    {% endif %}
    server_name         {{ nginx_server_name }};
    {% if setup_lets_encrypt %}
    ssl_certificate /etc/letsencrypt/live/{{ nginx_server_name}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx_server_name }}/privkey.pem;
    {% endif %}

    client_max_body_size 4G;

    access_log {{ nginx_access_log_file }};
    error_log {{ nginx_error_log_file }};

    location /.well-known/acme-challenge {
      default_type  "text/plain";
      root          /tmp/letsencrypt-auto;
    }

    location /static/ {
        alias   {{ nginx_static_dir }};
        location ~*  \.(jpg|jpeg|png|gif|ico|css|js)$ {
          expires 365d;
        }
    }

    location /media/ {
        alias   {{ nginx_media_dir }};
    }

    location / {
        if (-f {{ virtualenv_path }}/maintenance_on.html) {
            return 503;
        }

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        {% if setup_lets_encrypt %}
        proxy_set_header X-Forwarded-Proto https;
        {% endif %}
        proxy_set_header Host $http_host;
        proxy_redirect off;

        # Try to serve static files from nginx, no point in making an
        # *application* server like Unicorn/Rainbows! serve static files.
        if (!-f $request_filename) {
            proxy_pass http://wsgi_server;
            break;
        }
    }

    # Error pages
    error_page 500 502 504 /500.html;
    location = /500.html {
        root {{ application_path }}/templates/;
    }

    error_page 503 /maintenance_on.html;
    location = /maintenance_on.html {
        root {{ virtualenv_path }}/;
    }
}
