#!/bin/bash

DJANGODIR={{ application_path }}

# Activate the virtual environment.
cd $DJANGODIR
. ../bin/activate

# Set additional environment variables.
. ../bin/postactivate
# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec ./manage.py celery worker -E  -B -l info --concurrency={{ celery_num_workers }} --settings={{ celery_application_settings_file }}
