[run]
omit =
    *settings*
    *tests*
    *migrations*
    *__init__.py*
    *wsgi*
    *manage.py*
    venv*
    docs*
    run_yapf.py
    .tox*
source =
    .
[html]
directory = coverage_html_report
