# third party files
.checkignore
.cache
.coverage
.coveragerc
coverage_html_report
.landscape.yml
pytest.ini
Procfile
runtime.txt
.style.yapf
.testmondata
.tmontmp
.tox
tox.ini

# git
.git
.gitignore

# python cache
**/*.pyc
**/__pycache__

# sqlite
db.sqlite3

# misc files 
app.json
.env.example
app.yml
LICENSE

# dev folders
docs
ansible
tests
apostello/assets
