# env file
.env
# static cache
apostello/static/CACHE
static/CACHE
/static/

# front end
dist/
node_modules/
assets/semantic/src/themes/
assets/semantic/src/definitions/
assets/semantic/src/semantic.less
assets/semantic/tasks
assets/semantic/gulpfile.js
*.map
elm-stuff/

# test report
test-report.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
venv*/
pyenv/
prospector/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
coverage_html_report/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Sqlite
*.sqlite3

# config
*config.py

#
.idea/*
.c9/

.testmondata
.tmontmp/
.coverage*
