dj-database-url==0.4.0
django-allauth==0.24.1
django-debug-toolbar==1.4
django-extensions==1.6.1
django-phonenumber-field==1.0.0
django-q==0.7.16
django-redis==4.3.0
git+git://github.com/monty5811/django-semanticui-form.git@0a5d180395a8ffb1227791c311f51c46ea113778
django-solo==1.1.2
django-twilio==0.8.0
django<1.10
djangorestframework==3.3.2
gunicorn==19.4.5
ipython==4.1.1
opbeat==3.2.1
psycopg2==2.6.1
pygal==2.1.1
python-dotenv==0.3.0
redis==2.10.5
requests==2.9.1
twilio==5.3.0
whitenoise==2.0.6
yapf==0.6.2
