apostello-form==0.0.1
dj-database-url==0.4.1
django-allauth==0.26.1
django-debug-toolbar==1.5
django-extensions==1.6.7
django-phonenumber-field==1.1.0
django-q==0.7.18
django-redis==4.4.4
django-solo==1.1.2
django-twilio==0.8.0
django<1.10
djangorestframework==3.4.1
drfdocs==0.0.11
fakeredis==0.7.0
gunicorn==19.6.0
ipython==5.0.0
opbeat==3.3.4
psycopg2==2.6.2
pygal==2.2.3
python-dotenv==0.5.1
redis==2.10.5
requests==2.10.0
twilio==5.4.0
whitenoise==3.2
yapf==0.11.0
