-r requirements.txt
pytest-cov==2.2.1
pytest-django==2.9.1
pytest-env==0.6.0
pytest-flakes==1.0.1
pytest-isort==0.1.0
pytest-pep8==1.0.6
pytest-testmon==0.7
pytest-watch==3.8.0
pytest-xdist==1.14
pytest==2.8.7
scandir==1.2
selenium==2.51.1
