amqp
anyjson
billiard
celery
Django
django-allauth
django-appconf
django-celery
django-extensions
django-phonenumber-field
#django-semanticui-form # replace with - git+git://github.com/monty5811/django-semanticui-form.git@323b0bacce84a3f12301a34113f5555ec3cb4f7a
django-solo #git+git://github.com/monty5811/django-solo.git@6497f86800084008febbe0f2247d7aa6be4e0d96
django-twilio
djangorestframework
docutils
ElvantoAPI
ipython
gunicorn
opbeat
psycopg2
pygal
pytest
pytest-cov
pytest-django
pytest-env
pytest-flakes
pytest-isort
pytest-pep8
pytest-testmon
pytest-watch
pytest-xdist
python-dotenv
python3-memcached
requests
selenium
twilio
Werkzeug