amqp
anyjson
billiard
celery
Django<1.9
django-appconf
django-bootstrap3
django-celery
django-compressor
django-datetime-widget
django-debug-toolbar
django-extensions
django-phonenumber-field
django-solo
django-twilio
djangorestframework
docutils
ElvantoAPI
ipython
gunicorn
opbeat
psycopg2
pygal
pytest
pytest-cov
pytest-django
pytest-env
pytest-flakes
pytest-isort
pytest-pep8
pytest-xdist
python-dotenv
python3-memcached
python-social-auth
requests
twilio
