{% load cache %}
{% cache 1800 index_side_bar request.user %}
{% with profile=request.user.profile %}
{% if profile.can_see_keywords or request.user.is_staff %}
<a class="item" href="{% url 'keyword' %}">New Keyword</a>
{% endif %}
{% if profile.can_see_contact_names or request.user.is_staff %}
<a class="item" href="{% url 'recipient' %}">New Contact</a>
{% endif %}
{% if profile.can_see_groups or request.user.is_staff %}
<a class="item" href="{% url 'group' %}">New Group</a>
{% endif %}
{% endwith %}
{% endcache %}
