{% load staticfiles %}{% load cache %}
{% cache 0 navbar request.user %}
{% with profile=request.user.profile %}
<nav class="navbar navbar-default" role="navigation">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <ul class="nav nav-pills">
      <li class="nav-item dropdown">
      <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Apostello</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/">Home</a>
            {% if request.user.is_staff %}<a class="dropdown-item" href="/admin/">Admin</a>{% endif %}
            {% if request.user.socialaccount_set|length < 1 %}<a class="dropdown-item" href="/accounts/password/change">Change Password</a>{% endif %}
            <a class="dropdown-item" href="/accounts/logout/">Logout</a>
          </div>
      </li>
      </ul>
      <ul class="nav nav-pills">
        {% if profile.can_send_sms or request.user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Send To</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'send_group' %}">Group</a>
            <a class="dropdown-item" href="{% url 'send_adhoc' %}">Individuals</a>
          </div>
        </li>
        {% endif %}
        {% if profile.can_see_keywords or request.user.is_staff %}<li class="nav-item"><a class="nav-link" href="{% url 'keywords' %}">Keywords</a></li>{% endif %}
        {% if profile.can_see_groups or request.user.is_staff %}<li class="nav-item"><a class="nav-link" href="{% url 'recipient_groups' %}">Groups</a></li>{% endif %}
        {% if profile.can_see_contact_names or request.user.is_staff %}<li class="nav-item"><a class="nav-link" href="{% url 'recipients' %}">Contacts</a></li>{% endif %}
        {% if profile.can_see_outgoing or request.user.is_staff %}<li class="nav-item"><a class="nav-link" href="{% url 'outgoing' %}">Outgoing</a></li>{% endif %}
        {% if profile.can_see_incoming or request.user.is_staff %}<li class="nav-item"><a class="nav-link" href="{%  url 'incoming' %}">Incoming</a></li>{% endif %}
        {% if profile.can_import or request.user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'import_recipients' %}">CSV Import</a>
            <a class="dropdown-item" href="{% url 'import_elvanto' %}">Elvanto Import</a>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>
{% endwith %}
{% endcache %}
