{% load staticfiles %}{% load compress %}{% load bootstrap3 %}{% load cache %}
{% cache 1800 navbar request.user %}
{% with profile=request.user.profile %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Apostello</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if profile.can_send_sms or request.user.is_staff %}<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Send To<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'send_group' %}">Group</a></li>
          <li><a href="{% url 'send_adhoc' %}">Individuals</a></li>
        </ul>
        </li>{% endif %}
        {% if profile.can_see_keywords or request.user.is_staff %}<li><a href="{% url 'keywords' %}">Keywords</a></li>{% endif %}
        {% if profile.can_see_groups or request.user.is_staff %}<li><a href="{% url 'recipient_groups' %}">Groups</a></li>{% endif %}
        {% if profile.can_see_contact_names or request.user.is_staff %}<li><a href="{% url 'recipients' %}">Contacts</a></li>{% endif %}
        {% if profile.can_see_outgoing or request.user.is_staff %}<li><a href="{% url 'outgoing' %}">Outgoing</a></li>{% endif %}
        {% if profile.can_see_incoming or request.user.is_staff %}<li><a href="{%  url 'incoming' %}">Incoming</a></li>{% endif %}
        {% if profile.can_import or request.user.is_staff %}<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'import_recipients' %}">CSV Import</a></li>
          <li><a href="{% url 'import_elvanto' %}">Elvanto Import</a></li>
        </ul>
        </li>{% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.email }}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          {% if request.user.is_staff %}<li><a href="/admin/">Admin</a></li>{% endif %}
          <li><a href="/accounts/logout/">Logout</a></li>
        </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
{% endwith %}
{% endcache %}
