:443
# proxy the django server
# but serve static files directly
proxy / django:8000 {
    except static
    proxy_header Host {host}
    proxy_header X-Forwarded-Proto {scheme}
}
gzip {
    level 5
}
header /static/ {
    Cache-Control max-age=31536000
}
# automatic ssl :-)
tls {
    max_certs 10
}
# since we are running in docker we want all logs
# to go to stdout
log stdout
errors stderr
