@import url(//fonts.googleapis.com/css?family=Roboto);

@import "./elm-datetimepicker";
@import "./loader";

@import "./shoelace";

:root {
    --font-family: "Roboto";

    --font-system: Roboto;
    --font-monospace: "DejaVu Sans Mono", monospace;

    --color-purple: #5b599c;
    --color-blue: #2196F2;
    --color-green: #4CAF50;
    --color-red: #F34336;
    --color-orange: #FE9800;

    --state-primary: var(--color-purple);
    --state-info: var(--color-blue);

    --component-border-radius: 0px;
    --alert-spacing-y: 0.5rem;
    --alert-spacing-x: 0.5rem;
}

label {
    font-weight: 600;
}

.alert {
    margin: .5rem;
}

#wrap {
    max-width: 75rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 12rem calc(100% - 12rem);
}

#nav {
    text-align: right;
    border-right: solid var(--component-border-width) var(--component-border-color);
    padding-right: 1rem;
    margin-right: 2rem;
}

#nav a {
    border-radius: var(--component-border-radius);
    margin: .5rem 0;
    display: block;
}

@media (max-width: 60rem){
    #nav {
        font-size: .9rem;
        border: none;
        text-align: center;
        margin: 0 0 2rem 0;
    }
    #nav > a {
        margin: .3rem;
        display: inline-block;
    }
}

#menuWrapper {
    background: var(--state-primary);
    color: var(--color-white);
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem;
    user-select: none;
}

@media screen and (min-width: 0px) and (max-width: 968px) {
  #panel {
      display: none !important;
  }

  #wrap {
    grid-template-columns: 100%;
    padding: 0 1rem;
  }

  #menuWrapper {
    display: block;
  }

  #close {
    width: 100%;
    margin-bottom: 2rem;
  }

  #webpush {
    margin-top: 2rem;
  }
}


.menuVisible {
    animation: slidedown 0.2s ease-in;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.menuHidden{
    display: none !important;
}

#menu {
    list-style: none;
    margin: 0 2rem;
    padding: 0;
    grid-row: 2/2;
}


#menu > li {
    color: var(--color-white);
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    margin-bottom: 0.5rem;
}

#menu > li > a {
    margin: 0rem 1rem;
    color: var(--color-white);
}

.list > .item {
    color: var(--color-white);
    border-bottom: solid 1px rgba(34, 36, 38, 0.15);
    margin-bottom: 0.5rem;
}

#close {
    grid-row: 1/2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 2rem;
}

#elmContainer {
    margin: 1rem;
}

.help {
    margin: 0rem 1rem;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e8e8e8;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 500;
    border: 0 solid transparent;
}

.required label:after {
    color: #e32;
    content: " *";
    display:inline;
}

.segment {
    border: solid 1px #ccc;
    margin: 1rem;
    padding: 1rem;
}

.two-column {
  column-count: 2;
  column-gap: 1rem;
}

.errorlist {
    list-style: none;
    padding-left: 0;
    color: var(--color-red);
}

.xOverflow {
    overflow-x: auto;
}
