@import url(//fonts.googleapis.com/css?family=Roboto);
@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./elm-datetimepicker";
@import "./loader";
@import "./buttons";
@import "./pills";
@import "./table";
@import "./alerts";

a {
  @apply .font-bold;
  @apply .text-purple;
  text-decoration: none;
}

a:hover {
  @apply .text-purple-darker;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce {
  animation: bounce 1s 1;
}

.required:after {
  content: "*";
  font-weight: bold;
  @apply text-red;
}

@media (min-width: 1200px) {
  #elmShell {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    grid-template-areas:
      "header  header header header header"
      "leftBar main   main    main  rightBar"
      ".       main   main    main  .";
  }
  #actionsWrapper > .btn {
    @apply w-full;
    @apply mt-2;
  }
}

@media all and (max-width: 1200px) and (min-width: 992px) {
  #elmShell {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    grid-template-areas:
      "header  header  header  header  header"
      "main    main    main    main    leftBar"
      "main    main    main    main    rightBar";
  }
  #actionsWrapper > .btn {
    @apply w-full;
    @apply mt-2;
  }
}

@media (max-width: 991px) {
  #elmShell {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    grid-template-areas:
      "header  "
      "leftBar "
      "main    "
      "rightBar";
  }
  #actionsWrapper {
    @apply .flex;
  }
  #actionsWrapper > .btn {
    display: inline-block;
    @apply mx-2;
  }
  #menuWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

#elmShell {
  max-width: 1200px;
  @apply .mx-auto;
}

header {
  grid-area: header;
  @apply pb-4;
}

#menuWrapper {
  grid-area: rightBar;
}

main {
  grid-area: main;
}

#actionsWrapper {
  grid-area: leftBar;
  @apply .py-4;
}

.filterBox {
  @apply .shadow;
  @apply .appearance-none;
  @apply .border;
  @apply .rounded;
  @apply .py-2;
  @apply .px-3;
  @apply .mb-4;
  @apply .text-grey-darker;
}

.raisedSegment {
  @apply .bg-white;
  @apply .shadow-md;
  @apply .rounded;
  @apply .px-4;
  /*@apply .pb-8;*/
  @apply .m-1;
}

.notRaisedSegment {
  @apply .bg-white;
  @apply .px-4;
  @apply .pt-6;
  @apply .pb-8;
  @apply .m-1;
}

.borderCollapse {
  border-collapse: collapse;
}

.label {
  @apply .block;
  @apply .text-grey-darker;
  @apply .text-sm;
  @apply .font-bold;
  @apply .mt-2;
  @apply .mb-1;
}

.formInput {
  @apply .shadow;
  @apply .appearance-none;
  @apply .border;
  @apply .rounded;
  @apply .w-full;
  @apply .py-2;
  @apply .px-3;
  @apply .text-grey-darker;
}

.fieldError {
  @apply .rounded;
  @apply .text-red-darker;
  @apply .bg-red-lighter;
  @apply .py-2;
  @apply .px-3;
}

.displayInline {
  display: inline;
}

.wallSms {
  @apply .bg-white;
  @apply .shadow-md;
  @apply .rounded;
  @apply .px-4;
  @apply .pt-6;
  @apply .pb-8;
  @apply .mb-4;
  @apply .text-4xl;
}

.twoColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.noop {
  /*! Keep Me */
}
