{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'apostello/includes/head.html' %}
<style>
body {
    color: #ffffff;
    background-color: #222222;
    padding: 50px;
}
 a {
    color: #ffffff;
    font-weight: bold;
}
a:hover {
    color: #ffffff;
    font-weight: bold;
}
div {
    border-radius: 5px;
}
.column {
      max-width: 450px;
}
</style>
</head>
<body>
  <div class="ui middle aligned center aligned grid">
    <div class="left aligned column" style="background-color: #5c569c; padding: 10px">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% include 'apostello/includes/js.html' %}
</body>
