{% extends 'account/base_apsotello.html' %}
{% load i18n %}
{% load semanticui %}
{% load account socialaccount %}
{% load staticfiles %}
{% block content %}
{% get_providers as socialaccount_providers %}

<h3>{% trans "Sign In" %}</h3>
{% if socialaccount_providers %}
<a href="/accounts/google/login/?next=%2F&process=login"><img src="{% static 'images/goog_login.png' %}" height="46" alt="Google"></a>
<p>or</p>
{% endif %}
<form class="ui form login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|semanticui }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="ui button black" type="submit">{% trans "Sign In" %}</button>
  <br><br>
  <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
<p>{% blocktrans %}If you have not yet created an account, please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
</form>
{% endblock %}
