{% extends 'account/base_apostello.html' %}
{% load i18n %}
{% load account %}
{% block content %}
<h3>{% trans "Password Reset" %}</h3>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

<form method="POST" action="{% url 'account_reset_password' %}">
  {% csrf_token %}
  {% for field in form %}
     <label class="{{ form.label_class }}"
            for="{{ field.name }}">{{ field.label }}</label>
     {{ field }}
  {% endfor %}
  <div class="flex items-center justify-between my-4">
    <button class="btn btn-purple" type="submit">{% trans "Reset My Password" %}</button>
  </div>
</form>

<p class="text-sm">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
