{% extends 'account/base_apostello.html' %}
{% load i18n %}
{% block content %}
    <h3>{% trans "Set Password" %}</h3>
    <form method="POST" action="{% url 'account_set_password' %}">
        {% csrf_token %}
        {% for field in form %}
        <label class="{{ form.label_class }}"
                    for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}
        {% endfor %}

        <div class="flex items-center justify-between my-4">
            <button class="btn btn-purple" type="submit" name="action">
                {% trans "Set Password" %}
            </button>
        </div>
    </form>
{% endblock %}
