{% extends 'account/base_apostello.html' %}
{% load i18n %}
{% block content %}
    <h3>{% trans "Set Password" %}</h3>
    <form method="POST" action="{% url 'account_set_password' %}">
        {% csrf_token %}
        {% include 'apostello/includes/form.html' %}
        <div class="flex items-center justify-between my-4">
            <button class="btn btn-purple" type="submit" name="action">
                {% trans "Set Password" %}
            </button>
        </div>
    </form>
{% endblock %}
