{% extends 'account/base_apostello.html' %}
{% load i18n %}
{% load account %}
{% block content %}
<h3>{% trans "Sign Up" %}</h3>
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<form id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% include 'apostello/includes/form.html' %}
  <div class="flex items-center justify-between my-4">
    <button class="btn btn-purple" type="submit" id="signupButton">{% trans "Sign Up" %} &raquo;</button>
  </div>
</form>
{% endblock %}
